<section class="queue">
    <ul class="img_library">
        <li class="img_list">
            <img class="inner_img" src="./images/white cat.jpg" alt="white cat">
        </li>
        <li class="img_list">
            <img class="inner_img" src="./images/white-dog.jpg" alt="white dog">
        </li>
    </ul>
</section>