html {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

a {
  text-decoration: none;
  display: block;
}

.container {
  margin: 0px auto;
  padding: 10px 10px;
  width: 320px;

  @media (min-width: 767px) {
    width: 767px;
  }

  @media (min-width: 1024px) {
    width: 1024px;
  }
}

.watch-queue {
  height: 66px;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.23));
  background-color: #f3f6f6;
  width: 320px;

  @media (min-width: 768px) {
    width: 768px;
  }

  @media (min-width: 1024px) {
    width: 1024px;
  }
}

.watch-queue__container {
  display: block;

  &::after {
    display: block;
    width: 280px;
    content: '';
    height: 2px;
    background-color: rgb(77, 77, 77);
  }
}

.watch-queue-link {
  display: flex;
  justify-content: center;
  padding: 12px 10px;

  &__item {
    font-size: 16px;
    color: #000;
    letter-spacing: 0px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 38px;
    width: 140px;
    height: 40px;
    text-align: center;
    border-bottom: 1px solid rgb(0, 0, 0);

    &:hover {
      background-color: #90c0ba;
      color: #fff;
      cursor: pointer;
      border-bottom: none;
    }
  }
}

.library-gallery {
  padding: 10px 10px;

  @media (min-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
  }

  &__item {
    padding-top: 10px;

    @media (min-width: 767px) {
      padding: 12px;
    }
  }

  &__image {
    width: 298px;
    height: 156px;

    @media (min-width: 767px) {
      width: 345px;
      height: 181px;
    }

    @media (min-width: 1024px) {
      width: 466px;
      height: 244px;
    }
  }
}
